<a href="#" class="toggle-menu topm1"><i class="material-icons">menu</i></a>
<a href="home" class="logo-menu">My Cinema</a>
<div class="menu">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="menu-item">
        <img src="../assets/icons/icon_home-1.svg" alt="" class="ico">
        Home
    </a>
    <a [routerLink]="['/statistics']" routerLinkActive="router-link-active"  class="menu-item">
        <img src="../assets/icons/icon_dashboard-1.svg" alt="" class="ico">
        Statistics
    </a>
    <a [routerLink]="['/movies']" routerLinkActive="router-link-active"   class="menu-item">
        <img src="../assets/icons/icon_products-1.svg" alt="" class="ico">
        Movies
    </a>
    <a [routerLink]="['/cinemarooms']" routerLinkActive="router-link-active"  class="menu-item">
        <img src="../assets/icons/icon_Invoices-1.svg" alt="" class="ico">
        Cinema Rooms
    </a>
    <a [routerLink]="['/program']" routerLinkActive="router-link-active"  class="menu-item">
        <img src="../assets/icons/icon_calendar-1.svg" alt="" class="ico">
        Program
    </a>
    <a [routerLink]="['/settings']" routerLinkActive="router-link-active"  class="menu-item">
        <img src="../assets/icons/icon_setting.svg" alt="" class="ico">
        Settings
    </a>
</div>
