<div class="layout">

  <div class="l-left">
   <app-homebar></app-homebar>
  </div>

  <div class="l-right">
  <app-searchbar></app-searchbar>
<div class="main">
  <h2 class="title">Room Name</h2>

  <div class="card">
      <div class="card-body">
          <div class="room-view">
              <!-- 13 x 7 -->
              <table class="room-view-table">
                  <tr>
                      <td colspan="13" class="screen-row"><div class="screen-el">Screen</div></td>
                  </tr>
                  <tr>
                      <td>
                          <div class="chair booked"></div>
                      </td>
                      <td>
                          <div class="chair sold"></div>
                      </td>
                      <td>
                          <div class="chair sold"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair booked"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair booked"></div>
                      </td>
                      <td>
                          <div class="chair sold"></div>
                      </td>
                      <td>
                          <div class="chair sold"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair booked"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                      <td>
                          <div class="chair free"></div>
                      </td>
                  </tr>
              </table>
              <div class="room-view-legend">
                  <div class="chair free"></div> Free <br>
                  <div class="chair booked"></div> Booked <br>
                  <div class="chair sold"></div> Sold <br>
              </div>
          </div>
      </div>
  </div>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../assets/script.js"></script>
