<div class="layout">

  <div class="l-left">
   <app-homebar></app-homebar>
  </div>

  <div class="l-right">
  <app-searchbar></app-searchbar>
<div class="body-main">
  <p id="movies-title">Movies</p>
  <div class="movies-body">
      <div class="movies-data-show">
          <div class="movie-name">
              <p>Movie Name</p>
          </div>
          <div class="movie-price">
              <p>Price</p>
          </div>
          <div class="movie-book-now">
              <button class="movie-button-book-now">Book now</button>
          </div>
      </div>
      <div class="movies-data-show">
          <div class="movie-name">
              <p>Movie Name</p>
          </div>
          <div class="movie-price">
              <p>Price</p>
          </div>
          <div class="movie-book-now">
              <button class="movie-button-book-now">Book now</button>
          </div>
      </div>
      <div class="movies-data-show">
          <div class="movie-name">
              <p>Movie Name</p>
          </div>
          <div class="movie-price">
              <p>Price</p>
          </div>
          <div class="movie-book-now">
              <button class="movie-button-book-now">Book now</button>
          </div>
      </div>
      <div class="movies-data-show">
          <div class="movie-name">
              <p>Movie Name</p>
          </div>
          <div class="movie-price">
              <p>Price</p>
          </div>
          <div class="movie-book-now">
              <button class="movie-button-book-now">Book now</button>
          </div>
      </div>
      <div class="movies-data-show">
          <div class="movie-name">
              <p>Movie Name</p>
          </div>
          <div class="movie-price">
              <p>Price</p>
          </div>
          <div class="movie-book-now">
              <button class="movie-button-book-now">Book now</button>
          </div>
      </div>
      <div class="movies-data-show">
          <div class="movie-name">
              <p>Movie Name</p>
          </div>
          <div class="movie-price">
              <p>Price</p>
          </div>
          <div class="movie-book-now">
              <button class="movie-button-book-now">Book now</button>
          </div>
      </div>
      <div class="movies-data-show">
          <div class="movie-name">
              <p>Movie Name</p>
          </div>
          <div class="movie-price">
              <p>Price</p>
          </div>
          <div class="movie-book-now">
              <button class="movie-button-book-now">Book now</button>
          </div>
      </div>
  </div>
</div>
</div>
</div>
