<div class="image-container" style="float:left"></div>

<div style="float:right; width:60%">
<div class="flex-white-container"></div>
<div class="white-contanier" style="margin-left:30%;">


    <div class="title-container"> My Cinema Admin</div>
    <div class="subtitle-container">Welcome back! Please login to your admin account.</div>
    <div class="login-container">

        <form  #adminloginForm="ngForm" (ngSubmit)="adminloginForm.valid && onSubmit(adminloginForm)">

            <input type="text"  #username="ngModel" [(ngModel)]="model.username" id="username" name="username" placeholder="Username"
            required [ngClass]="{'invalid-textbox' :adminloginForm.submitted && !username.valid }">
            <div *ngIf="adminloginForm.submitted && username.errors">
              <label *ngIf="username?.errors.required" class="validation-message">This field is required.</label>
            </div>
            <input type="password" #password="ngModel" [(ngModel)]="model.password" name="password" placeholder="Password"
            minlength="4" required [ngClass]="{'invalid-textbox' :adminloginForm.submitted && !password.valid }">
            <div *ngIf="adminloginForm.submitted && password.errors">
              <label *ngIf="password?.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="password?.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
            </div>

            <div class="button-container">

              <input class="button" type="submit" value="Login">
            </div>

        </form>
         <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
        </div>

    </div>



</div>
<div class="flex-white-container"></div>
</div>
