<div class="layout">

  <div class="l-left">
   <app-homebar></app-homebar>
  </div>

  <div class="l-right">
  <app-searchbar></app-searchbar>
  <h1 id="program-title">Program</h1>
  <div class="programs">
      <div class="buttons-top">
          <button class="button-day">Monday</button>
          <button class="button-day">Tuesday</button>
          <button class="button-day">Wednesday</button>
          <button class="button-day">Thursday</button>
          <button class="button-day">Friday</button>
          <button class="button-day">Saturday</button>
          <button class="button-day">Sunday</button>
      </div>
      <div class="headers-table">
          <p id="header-movie">Movie</p>
          <p id="header-hours">Screening Hours</p>
      </div>
      <div class="table-row">
          <div class="column-left">
              <div class="information-play"></div>
              <p>Movie Name</p>
          </div>
          <div class="column-right">
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
          </div>
      </div>
      <div class="table-row">
          <div class="column-left">
              <div class="information-play"></div>
              <p>Movie Long Long Long Long Name</p>
          </div>
          <div class="column-right">
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
              <button class="button-hour">20:00</button>
          </div>
      </div>
      <div class="table-row">
          <div class="column-left">
              <div class="information-play"></div>
              <p>Movie Long Name And Only One Hour</p>
          </div>
          <div class="column-right">
              <button class="button-hour">20:00</button>
          </div>
      </div>
      <div class="table-row">
          <div class="column-left">
              <div class="information-play"></div>
              <p>Movie Long Name And Only One Hour</p>
          </div>
          <div class="column-right">
              <button class="button-hour">20:00</button>
          </div>
      </div>
      <div class="table-row">
          <div class="column-left">
              <div class="information-play"></div>
              <p>Movie Long Name And Only One Hour</p>
          </div>
          <div class="column-right">
              <button class="button-hour">20:00</button>
          </div>
      </div>
      <div class="table-row">
          <div class="column-left">
              <div class="information-play"></div>
              <p>Movie Long Name And Only One Hour</p>
          </div>
          <div class="column-right">
              <button class="button-hour">20:00</button>
          </div>
      </div>
      <div class="table-row">
          <div class="column-left">
              <div class="information-play"></div>
              <p>MovieMovieMovieMovie LongLongLongLong Name And Only One Hour</p>
          </div>
          <div class="column-right">
              <button class="button-hour">20:00</button>
          </div>
      </div>
  </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../assets/scripts/script.js"></script>

