input[type=text].invalid-textbox,input[type=password].invalid-textbox{
  border-bottom: 2px solid #ed5558;
  }


.validation-message{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding:3px;
  margin-left:15%;
}
