<a href="#" class="toggle-menu topm1"><i class="material-icons">menu</i></a>
<a [routerLink]="['/mainadmin']" routerLinkActive="router-link-active" class="logo-menu">My Cinema Admin</a>
<div class="menu">
  
  
    <a [routerLink]="['/addmovie']" routerLinkActive="router-link-active"   class="menu-item">
        <img src="../assets/icons/icon_products-1.svg" alt="" class="ico">
        Add Movies
    </a>
    <a [routerLink]="['/addroom']" routerLinkActive="router-link-active"  class="menu-item">
        <img src="../assets/icons/icon_Invoices-1.svg" alt="" class="ico">
        Add Cinema Rooms
    </a>
    <a [routerLink]="['/addprogram']" routerLinkActive="router-link-active"  class="menu-item">
        <img src="../assets/icons/icon_calendar-1.svg" alt="" class="ico">
       Add Program
    </a>
    <a [routerLink]="['/modifyuser']" routerLinkActive="router-link-active"  class="menu-item">
        <img src="../assets/icons/icon_setting.svg" alt="" class="ico">
       Modify Users
    </a>
</div>
